<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Arial', 'Helvetica', sans-serif;
            background-color: #f7f7f7;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            text-align: center;
        }

        .logo {
            max-width: 100px;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
            font-size: 24px;
        }

        p {
            color: #666;
            font-size: 16px;
            margin: 20px 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 3px;
            text-decoration: none;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.iconfinder.com%2F&psig=AOvVaw3_TLVq-bf-_Iy_w2SAc9ZW&ust=1697963938911000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCPDv2d7ehoIDFQAAAAAdAAAAABAE" alt="Pathshala Logo" class="logo">
        <h1>Welcome to Pathshala!</h1>
        <p>Hello <span style="color:#182444; font-weight: bolder; text-transform: capitalize;"><%= user.name %></span></p>
        <p>Your activation code is : <span style="background-color:#000000; color:#ffffff; letter-spacing: 1rem; padding: .5rem; "><%= activationCode %> </span> <br /> This code will be valid for only 5 minutes</p>
        <p>Thank you for registering with Pathshala !! <br /> Wish You have a great e-learning experience </p>
    </div>
</body>
</html>
